*{
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes up the full viewport height */
}

.contentContainer {
    flex-grow: 1; /* Allows the container to take up remaining space */
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sidePanel {
    margin-left: 5%;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: 7% 7% 25% 25% 25% 7%; 
    gap: 10px;
    align-items: center;
    justify-items: center;
    height: 100%; /* Ensure it takes up the full height of its parent */
}

.displayName {
    font-size: 3rem;
    width: 100%; /* Ensures it takes full width */
    height: auto; /* Adjust height automatically */
    text-align: center; /* Center the text */
    word-wrap: break-word; /* Allows words to wrap */
    overflow: hidden; /* Hide overflow content */
    white-space: nowrap; /* Prevents text from wrapping */
    text-overflow: ellipsis; /* Adds "..." for overflow text */
}



.mainContent{
    grid-column: 2;
    margin: 0 5%;
}

.profileCard {
    background-color: #2D2D2D;
    border-radius: 20px;
    padding: 10px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    width: 100%; 
    max-height: 100%;
    overflow-y: auto; 
    height: 100%;
    text-align: left; 
    position: relative; 
  }
  
  .editIcon {
    position: absolute;
    top: 10px; 
    right: 10px;
    cursor: pointer; 
  }

.modal-content{
    background-color: #2D2D2D;
}
.custom-logout-btn {
    background-color: #2D2D2D;
    color: white; 
    padding: 10px 18px;
    font-size: 17px;
    border-radius: 8px;
  }
  
  .custom-logout-btn:hover {
    background-color: white; /* Slightly darker shade on hover */
    color: #2D2D2D;
  }


/* .buttonContainer{
    display: flex;
    gap: 10px;
} */

/* .profileActionButtons,
.profileActionButtons:hover,
.profileActionButtons:active,
.profileActionButtons:focus {
    background-color: #2D2D2D !important;
    color: white !important;
    border: none; 
    outline: none; 
    padding: 10px 20px;
} */

.tabs{
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.tabs:hover{
    cursor: pointer;
}

.activeTab{
    border-bottom: 1px solid white;
}

.projects{
    height: 70vh;
    width: 100%;
    margin: 3%;
    overflow-y: auto; 
}


