.tagContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 6vh auto 0; /* Helps center grid */
    width: 80vw;
}

.tagItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 22vh;
    width: 25vw;
    color: white; 
    background-color: #2D2D2D;
    border-radius: 20px;
    font-size: 3.5em;
}

.tagItem:hover{
    cursor: pointer;
    background-color: white;
    color: #2D2D2D;
}

/* .tagText{
    color: white;
    font-size: 3.5em;
}

.tagText:hover{
    color: #2D2D2D;
} */