.formHeader {
  color: white;
  margin-left: 5VW;
}

#title {
  width: 50%;
}

.dropdown {
  margin-bottom: 10px;
  margin-left: 5VW;
}

.dropdown select option {
  padding: 10px;
  line-height: 1.1;
}

#title,
#links,
#contact,
#more-links,
#more-contact,
#description,
#more-description {
  height: 5vw;
  resize: none;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 1vw 5vw;
  width: 80%;
  padding: 10px 30px;
}

.inputBox {
  padding: 20px;
  border: 1px transparent;
  border-radius: 30px;
  font-size: 20px;
  background-color: #2d2d2d;
  color: white;
  overflow: hidden;
  min-height: 5vw;
  resize: none;
  box-sizing: border-box;
}

.formToggle {
  display: flex;
  justify-content: left;
  margin: 0 0 20px 3vw;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0 20px 5vw;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button.active {
  background-color: GREEN;
  color: #2d2d2d;
}