.formHeader{
    color:white;
    margin-left: 2VW;
  }
  
  .formDropdown {
    margin-bottom: 20px;  
    margin-left: 20px;
    width: 20%;  /* Space between dropdown and other elements */
  }
  
  .formDropdown select {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    border: 1px transparent;
    background-color: #2d2d2d;
    appearance: none;
    -webkit-appearance: none;
    color:white;
  }
  
  .formDropdown select option {
    padding: 10px;
    line-height: 1.8;        /* Increase space between options */
  }
  
  .formInput {
    display: flex;
    flex-direction: column;
    gap: 15px;    
    margin-left: 2vw;
    width: 50%;
  }
  
  .inputBox {
    padding: 10px;
    border: 1px transparent;
    border-radius: 30px;
    font-size: 30px;
    background-color: #2d2d2d;
    color:white;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 30P;
    margin-left: 30px;
    background-color: #ffffff;
    color: #757575;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* float:right; */
  }
  
  #title{
    width:50%;
  }
  #title, #links, #contact {
    height: 3vw;
  }
  #description{
    height: 10vw;
  }
  